@import url(./fonts.css);

* {
    font-family: 'MontserratRegular', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    color: #010B5E;
}

a {
    color: inherit;
}

p {
    color: #010B5E;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* SECTION NAVIGATION */

.section-navigation{
    padding: 1%;
    background-color: #d9dae7;
}

.section-navigation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-navigation .container .text-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.section-navigation .container .text-middle a{
    text-decoration: none;
    transition: .3s;
}

.section-navigation .container .text-middle a:hover{
    border-bottom: 4px solid #010B5E;
    transition: .6s;
}

.section-navigation .container .text-middle p{
    font-size: 19px;
    margin-bottom: 0;
}

.section-navigation .container .text-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: right;
    width: 25%;
}

.section-navigation .container .text-right p{
    font-size: 18px;
    font-family: "MontserratMedium", sans-serif;
}

/* SECTION INFO */

.section-info{
    margin-top: 5%;
}

.section-info .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-info .container .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-info .container .text h2{
    font-family: "PlayFairBold", sans-serif;
    font-size: 48px;
}

.section-info .container .text p{
    font-family: "MontserratMedium", sans-serif;
    font-size: 18px;
    width: 90%;
    margin-top: 2%;
}

.section-info .container .text button{
    width: 300px;
    height: 60px;
    background-color: #010B5E;
    color: white;
    font-size: 24px;
    border-radius: 40px;
    font-family: "MontserratBold", sans-serif;
    transition: .3s;
    margin-top: 4%;
}

.section-info .container .text button:hover{
    background-color: #363c6d;
    transition: .6s;
}

