@import url(./fonts.css);

* {
    font-family: 'MontserratRegular', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    color: #010B5E;
}

a {
    color: inherit;
}

p {
    color: #010B5E;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section-navigation nav{
    display: none;
}

/* SECTION NAVIGATION */

.section-navigation{
    padding: 1%;
    background-color: #d9dae7;
}

.section-navigation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-navigation .container .text-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.section-navigation .container .text-middle a{
    text-decoration: none;
    transition: .3s;
}

.section-navigation .container .text-middle a:hover{
    border-bottom: 4px solid #010B5E;
    transition: .6s;
}

.section-navigation .container .text-middle p{
    font-size: 19px;
    margin-bottom: 0;
}

.section-navigation .container .text-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: right;
    width: 25%;
}

.section-navigation .container .text-right p{
    font-size: 18px;
    font-family: "MontserratMedium", sans-serif;
}

/* SECTION INFO */

.section-info{
    margin-top: 5%;
}

.section-info .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-info .container .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-info .container .text h2{
    font-family: "PlayFairBold", sans-serif;
    font-size: 48px;
}

.section-info .container .text p{
    font-family: "MontserratMedium", sans-serif;
    font-size: 18px;
    width: 90%;
    margin-top: 2%;
}

.section-info .container .text button{
    width: 300px;
    height: 60px;
    background-color: #010B5E;
    color: white;
    font-size: 24px;
    border-radius: 40px;
    font-family: "MontserratBold", sans-serif;
    transition: .3s;
    margin-top: 4%;
}

.section-info .container .text button:hover{
    background-color: #363c6d;
    transition: .6s;
}

/* SECTION ABOUT */

.section-about{
    margin-top: 5%;
    padding: 4%;
    background-color: #d9dae7;
}

.section-about .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-about .container h2{
    font-family: "PlayFairBold", sans-serif;
    font-size: 48px;
}

.section-about .container .text{
    width: 70%;
    margin-top: 2%;
}

.section-about .container .text p{
    font-size: 20px;
    font-family: "MontserratMedium", sans-serif;
    text-align: center;
}

/* SECTION EVENTS */

.section-events{
    margin-top: 5%;
}

.section-events .container h2{
    font-size: 48px;
    font-family: "PlayFairBold", sans-serif;
    text-align: center;
}

.section-events .container .cards .card{
    width: 550px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: none;
    margin-top: 3%;
}

.section-events .container .cards .card img{
    width: 212px;
    height: 163px;
}

.section-events .container .cards .card .text-right{
    margin-left: 3%;
}

.section-events .container .cards .card .text-right h4{
    font-size: 20px;
    font-family: "MontserratBold", sans-serif;
}

.section-events .container .cards .card .text-right .p-text{
    font-size: 16px;
    font-family: "MontserratMedium", sans-serif;
}

.section-events .container .cards .card .text-right .p-italic{
    font-size: 14px;
    font-family: "MontserratItalic", sans-serif;
}

.section-events .container .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* SECTION PRODUCTS */

.section-products{
    margin-top: 5%;
}

.section-products .container h2{
    font-family: "PlayFairBold";
    font-size: 48px;
    text-align: center;
}

.section-products .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-products .container .text-container {
    position: relative;
    width: 300px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 728px;
    height: 90px;
    background-color: #010B5E;
    border-radius: 30px;
    margin-top: 3%;
}

.section-products .container .text {
    position: absolute;
    top: 100%;
    opacity: 0;
    animation: text-fade 10s linear infinite;
    font-size: 24px;
    color: white;
    font-family: "MontserratBold", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.section-products .container .text:nth-child(1) {
    animation-delay: 0s;
}

.section-products .container .text:nth-child(2) {
    animation-delay: 2s;
}

.section-products .container .text:nth-child(3) {
    animation-delay: 4s;
}

.section-products .container .text:nth-child(4) {
    animation-delay: 6s;
}

.section-products .container .text:nth-child(5) {
    animation-delay: 8s;
}

@keyframes text-fade {
    0%, 20% {
        top: 0;
        opacity: 1;
    }
    20.01%, 100% {
        top: -100%;
        opacity: 0;
    }
}

.section-products .container .slide .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-products .container .slide .carousel-item{
    width: 100%;
}

.section-products .container .slide{
    width: 80%;
    margin-top: 3%;
}

.section-products .container .slide .carousel-inner{
    width: 100%;
}

.section-products .container .slide .cards .card{
    width: 300px;
    height: 400px;
    padding: 1%;
    border: #010B5E solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-products .container .slide .cards .card h4{
    font-size: 22px;
    font-family: "MontserratBold", sans-serif;
    text-align: center;
}

.section-products .container .slide .cards .card button{
    width: 258px;
    height: 52px;
    background-color: #010B5E;
    color: white;
    font-size: 21px;
    border-radius: 40px;
    transition: .5s;
}

.section-products .container .slide .cards .card button:hover{
    background-color: #363c6d;
    transition: .7s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.carousel-control-prev {
    margin-left: -12%;
}

.carousel-control-next {
    margin-right: -15%;
}

.carousel-control-prev-icon{
    margin-right: 50%;
}

/* SECTION FORM */

.section-form{
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-form .container h2{
    font-family: "PlayFairBold";
    font-size: 48px;
    text-align: center;
}

.section-form .container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-form .container form .vvod{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.section-form .container form .vvod input, .section-form .container form .vvod select{
    width: 550px;
    height: 50px;
    border: #010B5E 3px solid;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

.section-form .container form .vvod .sms{
    height: 250px;
}

.section-form .container form .vvod-politica .politica{
    font-size: 10px;
    width: 93%;
}

.section-form .container form .vvod-politica{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.section-form .container form .vvod-politica input{
    width: 20px;
    height: 20px;
    border: 2px solid #010B5E;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db;
    }
    50% {
        box-shadow: 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db;
    }
    100% {
        box-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db;
    }
}

.section-form .container form button{
    width: 468px;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-size: 21px;
    font-family: "MontserratBold", sans-serif;
    background-color: #010B5E;
    margin-top: 3%;
    transition: .5s;
    animation: glow 2s infinite;
}

.section-form .container form button:hover{
    width: 500px;
    height: 80px;
    transition: .7s;
}

/* FOOTER */

footer{
    padding: 2%;
    background-color: #d9dae7;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container p{
    text-align: center;
    font-size: 16px;
    font-family: "MontserratBold", sans-serif;
    margin-bottom: 0;
}

/* ADAPTIVE */

@media (max-width: 1500px) {
    .container {
        width: 1440px;
    }

    .section-navigation .container .text-right p{
        font-size: 16px;
    }

    .section-navigation .container .text-middle p{
        font-size: 17px
    }

    .section-navigation .container img{
        width: 200px;
    }

    .section-info .container .text h2{
        font-size: 40px;
    }

    .section-info .container .text p{
        font-size: 16px;
    }

    .section-about .container h2{
        font-size: 40px;
    }

    .section-about .container .text p{
        font-size: 18px;
    }

    .section-events .container h2{
        font-size: 40px;
    }

    .section-events .container .cards .card .text-right h4{
        font-size: 18px;
    }

    .section-events .container .cards .card img{
        width: 175px;
        height: auto;
    }

    .section-events .container .cards .card{
        width: 45%;
    }

    .section-events .container .cards .card .text-right .p-text{
        font-size: 14px;
    }

    .section-products .container h2{
        font-size: 40px;
    }

    .section-products .container .text-container{
        width: 600px;
        height: 70px;
    }

    .section-products .container .text{
        font-size: 20px;
    }

    .section-products .container .slide .cards .card{
        width: 275px;
        height: 375px;
    }

    .section-products .container .slide .cards .card img{
        width: 95%;
    }

    .section-products .container .slide .cards .card h4{
        font-size: 20px;
    }

    .section-products .container .slide .cards .card button{
        width: 225px;
        height: 50px;
    }

    footer .container p{
        font-size: 14px;
    }

    .section-form .container h2{
        font-size: 40px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1140px;
    }

    .section-navigation .container .text-middle p {
        font-size: 15px;
    }

    .section-navigation .container img {
        width: 150px;
    }

    .section-navigation .container .text-right p {
        font-size: 13px;
    }

    .section-info .container img{
        width: 400px;
    }

    .section-info .container .text p {
        font-size: 14px;
    }

    .section-info .container .text h2 {
        font-size: 36px;
    }

    .section-info .container .text button{
        width: 250px;
        height: 50px;
        font-size: 20px;
    }

    .section-about .container h2 {
        font-size: 36px;
    }

    .section-about .container .text p {
        font-size: 15px;
    }

    .section-events .container h2 {
        font-size: 36px;
    }

    .section-events .container .cards .card img {
        width: 150px;
    }

    .section-events .container .cards .card .text-right h4 {
        font-size: 14px;
    }

    .section-events .container .cards .card .text-right .p-text {
        font-size: 12px;
    }

    .section-events .container .cards .card .text-right .p-italic {
        font-size: 12px;
    }

    .section-events .container .cards .card{
        height: 200px;
    }

    .section-products .container h2 {
        font-size: 36px;
    }

    .section-products .container .text-container {
        width: 500px;
        height: 60px;
    }

    .section-products .container .text {
        font-size: 18px;
    }

    .section-products .container .slide .cards .card h4 {
        font-size: 16px;
    }

    .section-products .container .slide .cards .card button {
        width: 200px;
        height: 45px;
        font-size: 18px;
    }

    .section-products .container .slide .cards .card {
        width: 225px;
        height: 300px;
    }

    .section-form .container h2 {
        font-size: 36px;
    }

    .section-form .container form .vvod input, .section-form .container form .vvod select{
        height: 45px;
    }

    footer .container p {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 960px;
    }

    .section-navigation .container{
        display: none;
    }

    .section-navigation nav{
        display: block;
        padding: 3%;
    }

    .nav-link{
        color: #010B5E !important;
    }

    .section-navigation nav h5{
        font-family: "MontserratBold", sans-serif;
        text-decoration: underline;
    }

    .navbar-brand img{
        width: 150px;
    }

    .section-info {
        margin-top: 15%;
    }

    .section-info .container img{
        display: none;
    }

    .section-info .container .text h2{
        text-align: center;
    }

    .section-info .container .text p{
        text-align: center;
        width: 100%;
    }

    .section-info .container .text{
        align-items: center;
    }

    .section-about .container .text p {
        font-size: 14px;
    }

    .section-events .container .cards{
        flex-direction: column;
    }
    
    .section-events .container .cards .card {
        width: 80%;
        margin-top: 2%;
        height: 150px;
    }

    .section-products .container .text-container {
        width: 450px;
        height: 55px;
    }

    .section-products .container .text {
        font-size: 16px;
    }

    .section-products .container .slide .cards .card:nth-child(3){
        display: none;
    }

    .section-products .container .slide .cards .card{
        width: 250px;
    }

    .section-form .container form .vvod input, .section-form .container form .vvod select {
        height: 40px;
        width: 450px;
        font-size: 14px;
    }

    .section-form .container form .vvod label{
        font-size: 14px;
    }

    .section-form .container form .vvod .sms {
        height: 200px;
    }

    .section-form .container form .vvod-politica input{
        width: 20px;
        height: 20px;
    }

    .section-form .container form .vvod-politica .politica{
        font-size: 8px;
    }

    .section-form .container form .vvod-politica{
        width: 450px;
    }

    .section-form .container form button {
        width: 400px;
        height: 55px;
        font-size: 18px;
    }

    .section-form .container form button:hover {
        width: 400px;
        height: 55px;
        font-size: 18px;
    }

    footer .container p {
        font-size: 10px;
    }

    footer .container img{
        width: 10%;
    }

    .section-about .container .text {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 98%;
    }

    .section-info .container .text h2 {
        font-size: 30px;
    }

    .section-info .container .text p {
        font-size: 12px;
    }

    .section-about .container h2 {
        font-size: 30px;
    }

    .section-about .container .text p {
        font-size: 12px;
    }

    .section-about .container .text {
        width: 90%;
    }

    .section-events .container h2 {
        font-size: 30px;
        margin-bottom: 5%;
    }

    .section-events .container .cards .card{
        width: 90%;
    }

    .section-products .container h2 {
        font-size: 30px;
    }

    .section-products .container .text-container {
        width: 400px;
        height: 50px;
    }

    .section-products .container .text {
        font-size: 14px;
    }

    .section-products .container .slide .cards .card {
        width: 200px;
        height: 250px;
    }

    .section-products .container .slide .cards .card button {
        width: 150px;
        height: 40px;
        font-size: 16px;
    }

    .section-form .container h2 {
        font-size: 30px;
    }

    .section-form .container form .vvod label {
        font-size: 13px;
    }

    .section-form .container form .vvod .sms {
        height: 150px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 98%;
    }

    .navbar-brand img {
        width: 125px;
    }

    .offcanvas{
        width: 70% !important;
    }
    
    .nav-link{
        font-size: 14px !important;
    }

    .section-info {
        margin-top: 20%;
    }

    .section-info .container .text h2 {
        font-size: 26px;
    }

    .section-info .container .text button {
        width: 200px;
        height: 45px;
        font-size: 18px;
    }

    .section-about .container h2 {
        font-size: 26px;
    }

    .section-events .container .cards .card img {
        width: 125px;
    }

    .section-events .container .cards .card .text-right .p-text {
        font-size: 11px;
    }

    .section-products .container h2 {
        font-size: 26px;
    }

    .section-products .container .text-container {
        width: 350px;
        height: 45px;
    }

    .section-products .container .text {
        font-size: 12px;
    }

    .section-products .container .slide .cards .card {
        width: 175px;
        height: 250px;
    }

    .section-products .container .slide .cards .card h4 {
        font-size: 14px;
    }

    .section-form .container h2 {
        font-size: 26px;
    }

    .section-form{
        margin-top: 15%;
    }

    .section-form .container form .vvod input, .section-form .container form .vvod select{
        width: 400px;
    }

    .section-form .container form .vvod-politica {
        width: 400px;
    }

    .section-form .container form .vvod-politica input {
        width: 15px !important;
        height: 15px;
    }

    .section-form .container form .vvod-politica .politica{
        width: 90%;
    }

    .section-form .container form button {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 8%;
    }

    .section-form .container form button:hover {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }

    footer .container p {
        font-size: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 98%;
    }

    .section-info .container .text h2 {
        font-size: 24px;
    }

    .section-info .container .text p {
        font-size: 10px;
    }

    .section-info .container .text button {
        width: 200px;
        height: 40px;
        font-size: 16px;
    }

    .section-about .container h2 {
        font-size: 24px;
    }

    .section-about .container .text p {
        font-size: 10px;
    }

    .section-events .container h2 {
        font-size: 24px;
        margin-bottom: 10%;
    }

    .section-events .container .cards .card img {
        width: 100px;
    }

    .section-events .container .cards .card {
        width: 95%;
    }

    .section-events .container .cards .card .text-right .p-text {
        font-size: 10px;
    }

    .section-events .container .cards .card .text-right .p-italic {
        font-size: 10px;
    }

    .section-events .container .cards .card .text-right h4 {
        font-size: 12px;
    }

    .section-products .container h2 {
        font-size: 24px;
    }

    .section-products .container .slide .cards .card:nth-child(2){
        display: none;
    }

    .section-products .container .slide .cards{
        justify-content: center;
    }

    .section-form .container form .vvod input, .section-form .container form .vvod select {
        width: 300px;
        height: 35px;
        font-size: 12px;
    }

    .section-form .container form .vvod label {
        font-size: 12px;
    }

    .section-form .container form .vvod-politica {
        width: 300px;
    }

    .section-form .container form .vvod-politica .politica {
        font-size: 7px;
    }

    .section-form .container form button {
        width: 200px;
        height: 40px;
        font-size: 12px;
        margin-top: 8%;
    }

    .section-form .container form button:hover {
        width: 200px;
        height: 40px;
        font-size: 12px;
    }

    footer .container p {
        font-size: 7px;
    }
}

@media (max-width: 370px) {
    .container {
        width: 98%;
    }
}